<div class="game-card">
    <img class="card-team away-team" src="{{this.away_team_logo}}" />
    <img class="card-team home-team" src="{{this.home_team_logo}}" />
    <div class="card-header game-time">{{this.game_time}} <h2>{{this.game_tzone}}</h2></div>
    <div class="card-header game-loc"
         style="{{#strlen_gt this.stadium len=15}}font-size:13px;{{/strlen_gt}}">
        @ {{this.stadium}}
    </div>
    <div class="card-record away-record">{{this.away_rec}}</div>
    <div class="card-record home-record">{{this.home_rec}}</div>
    <div class="card-game-status postponed">{{this.display_status}}</div>
    <div class="card-highlight postponed"></div>
    <div class="game-card-details">
        <img class="postponed-weather" src="{{this.reason_img}}" />
        <div class="postponed-reason">
            <h1>{{this.reason}}</h1>
            <h2>ETA {{this.eta}}</h2>
        </div>
    </div>
</div>
