<!DOCTYPE html>
<html>
    <head>
        <title>MLB Scoreboard</title>
        <link href='http://fonts.googleapis.com/css?family=Karla:700,400|Open+Sans:400,300|Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="assets/css/global.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/scoreboard.css" />
        <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script language="javascript" type="text/javascript" src="assets/js/masonry.pkgd.min.js"></script>
        <script language="javascript" type="text/javascript" src="assets/js/nav-script.js"></script>
        <script language="javascript" type="text/javascript" src="assets/js/scoreboard-script.js"></script>
    </head>
    <body>
        <div class="nav">
            <img id="mlb-icon" src="assets/img/mlb.png" />
            <div id="nav-selector"></div>
            <div class="nav-entry"><p>News</p></div>
            <div class="nav-entry nav-selected"><p>Scoreboard</p></div>
            <div class="nav-entry"><p>Standings</p></div>
            <div class="nav-entry"><p>Teams</p></div>
            <img id="nav-search-icon" src="assets/img/search-flipped.png" />
            <div id="nav-border"></div>
        </div>
        <div id="search-container">
            <div id="search-overlay"></div>
            <div class="search-modal modal-hidden">
                <img id="search-modal-icon" src="assets/img/search-flipped.png" />
                <input type="text" placeholder="Search the mlb" id="search-input"/>
            </div>
        </div>
        <div class="content">
            <div id="league-filter">
                <div class="circle nl-circle on">
                    <h1>NL</h1>
                </div>
                <div class="circle al-circle on">
                    <h1>AL</h1>
                </div>
            </div>
            <div id="date-selector">
                <img class="date-arrow" id="date-left-arrow" src="assets/img/cal-arrow.png" />
                <img id="date-cal-icon" src="assets/img/cal.png" />
                <span id="date-text">{{date}}</span>
                <img class="date-arrow" id="date-right-arrow" src="assets/img/cal-arrow.png" />
            </div>
            <div id="game-cards-masonry">
                <!-- FINAL GAMES -->
                {{#each games.final_games}}
                    <div class="game-card">
                        <img class="card-team away-team" src="{{this.away_team_logo}}" />
                        <img class="card-team home-team" src="{{this.home_team_logo}}" />
                        <div class="card-header away-score">{{this.away_score}}</div>
                        <div class="card-header home-score">{{this.home_score}}</div>
                        <div class="card-separator">|</div>
                        <div class="card-record away-record">{{this.away_rec}}</div>
                        <div class="card-record home-record">{{this.home_rec}}</div>
                        <div class="card-game-status final">{{this.display_status}}</div>
                        <div class="card-highlight final"></div>
                        <div class="game-card-details">
                            <img class="pitcher-image away-pitcher" src="{{this.away_pitcher_img_path}}"/>
                            <img class="pitcher-image home-pitcher" src="{{this.home_pitcher_img_path}}"/>
                            <div class="pitcher-stats away-pitcher"><h3>W</h3><h1>{{this.away_pitcher}}</h1> <h2>{{this.away_pitcher_rec}} {{this.away_pitcher_era}} ERA</h2></div>
                            <div class="pitcher-stats home-pitcher"><h3>L</h3><h1>{{this.home_pitcher}}</h1> <h2>{{this.away_pitcher_rec}} {{this.home_pitcher_era}} ERA</h2></div>
                        </div>
                    </div>
                {{/each}}

                <!-- LIVE GAMES -->
                {{#each games.live_games}}
                    <div class="game-card">
                        <img class="card-team away-team" src="{{this.away_team_logo}}" />
                        <img class="card-team home-team" src="{{this.home_team_logo}}" />
                        <div class="card-header away-score">{{this.away_score}}</div>
                        <div class="card-header home-score">{{this.home_score}}</div>
                        <div class="card-separator">|</div>
                        <div class="card-record away-record">{{this.away_rec}}</div>
                        <div class="card-record home-record">{{this.home_rec}}</div>
                        <div class="card-game-status live">{{this.display_status}}</div>
                        <div class="card-highlight live"></div>
                        <div class="game-card-details">
                            <div class="inning-container">
                                <p>{{this.inning_num}}</p>
                                <div class="inning-arrow arrow-{{this.inning_arrow}}"></div>
                            </div>
                            <div class="bases">
                                <img class="diamond-icon" src="assets/img/bases.png" />
                                {{#if this.runners.1b}}<img class="base-icon first-base" src="assets/img/pink-dot.png" /> {{/if}}
                                {{#if this.runners.2b}}<img class="base-icon second-base" src="assets/img/pink-dot.png" /> {{/if}}
                                {{#if this.runners.3b}}<img class="base-icon third-base" src="assets/img/pink-dot.png" /> {{/if}}
                            </div>
                            <div class="game-info">
                                <div class="game-info-line"><h1>P</h1> <p class="pitcher-line"><h2>C. Kershaw</h2> <h4>2.93 ERA</h4></p> </div>
                                <div class="game-info-line"><h1>AB</h1> <p class="hitter-line"><h2>B. Posey</h2> <h3>.312 AVG</h3> <h4>5 HR</h4></p></div>
                                <div class="game-info-line">
                                    <h1>B</h1>
                                    <div class="circles-container ball-line">
                                        <div class="circle circle-ball-active"></div>
                                        <div class="circle circle-ball-active"></div>
                                        <div class="circle circle-ball-active"></div>
                                        <div class="circle circle-ball-inactive"></div>
                                    </div>
                                </div>
                                <div class="game-info-line">
                                    <h1>S</h1>
                                    <div class="circles-container strike-line">
                                        <div class="circle circle-strike-active"></div>
                                        <div class="circle circle-strike-inactive"></div>
                                        <div class="circle circle-strike-inactive"></div>
                                    </div>
                                </div>

                                <div class="game-info-line">
                                    <h1>O</h1>
                                    <div class="circles-container out-line">
                                        <div class="circle circle-out-inactive"></div>
                                        <div class="circle circle-out-inactive"></div>
                                        <div class="circle circle-out-inactive"></div>
                                    </div>
                                </div>

                                <img class="radio-icon" src="assets/img/headphones.png" />
                            </div>
                        </div>
                    </div>
                {{/each}}

                <!-- UPCOMING GAMES -->
                {{#each games.upcoming_games}}
                    <div class="game-card">
                        <img class="card-team away-team" src="{{this.away_team_logo}}" />
                        <img class="card-team home-team" src="{{this.home_team_logo}}" />
                        <div class="card-header game-time">{{this.game_time}} <h2>{{this.game_tzone}}</h2></div>
                        <div class="card-header game-loc">@ {{this.stadium}}</div>
                        <div class="card-record away-record">{{this.away_rec}}</div>
                        <div class="card-record home-record">{{this.home_rec}}</div>
                        <div class="card-game-status upcoming">{{this.display_status}}</div>
                        <div class="card-highlight upcoming"></div>
                        <div class="game-card-details">
                            <img class="pitcher-image away-pitcher" src="{{this.away_pitcher_img_path}}"/>
                            <img class="pitcher-image home-pitcher" src="{{this.home_pitcher_img_path}}"/>
                            <div class="pitcher-stats away-pitcher"><h1>{{this.away_pitcher_abrv}}</h1> <h2>{{this.away_pitcher_rec}} {{this.away_pitcher_era}} ERA</h2></div>
                            <div class="pitcher-stats home-pitcher"><h1>{{this.home_pitcher_abrv}}</h1> <h2>{{this.home_pitcher_rec}} {{this.home_pitcher_era}} ERA</h2></div>
                        </div>
                    </div>
                {{/each}}

            </div>
        </div>
    </body>
</html>